.rounded-xl.border.overflow-hidden class="bg-slate-800/50 border-slate-700"
  table.w-full
    thead class="bg-slate-800/80"
      tr
        th.px-6.py-3.text-left.text-xs.font-medium.text-slate-400.uppercase.tracking-wider = t('.headers.value')
        th.px-6.py-3.text-center.text-xs.font-medium.text-slate-400.uppercase.tracking-wider = t('.headers.status')
        - if can_edit
          th.px-6.py-3.text-right.text-xs.font-medium.text-slate-400.uppercase.tracking-wider = t('.headers.actions')

    tbody.divide-y class="divide-slate-700"
      - if classification_values.empty?
        tr
          td.px-6.py-8.text-center.text-slate-400 colspan=(can_edit ? 3 : 2)
            = t('.no_values')
      - else
        - classification_values.each do |value|
          tr class="hover:bg-slate-700/50 transition-colors"
            td.px-6.py-4
              .font-medium.text-white = value.title
            td.px-6.py-4.text-center
              - if value.active?
                span.inline-flex.items-center.px-2.5.py-0.5.rounded-full.text-xs.font-medium class="bg-emerald-500/20 text-emerald-400"
                  = t('.status.active')
              - else
                span.inline-flex.items-center.px-2.5.py-0.5.rounded-full.text-xs.font-medium class="bg-slate-500/20 text-slate-400"
                  = t('.status.inactive')
            - if can_edit
              td.px-6.py-4.text-right
                .flex.items-center.justify-end.gap-2
                  = link_to edit_admin_classification_value_path(value), class: "p-2 rounded-lg text-slate-400 hover:text-white hover:bg-slate-700 transition-colors" do
                    svg.w-4.h-4 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z"
                      path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z"


